@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Didact+Gothic|Lobster+Two|Open+Sans+Condensed:300|Rubik|Satisfy&display=swap');
*{
    margin:0;
    padding: 0;
}
.container-fluid{
    max-width: 100wh;
    padding: 0px;
    margin: 0px;
}
.navbody{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.navbody li{
    display: inline-block;    
}
a,button{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: #edf0f1;
    font-size: 18px;
    cursor: pointer;   
}
.navbody li a{
    padding: 5px 30px;
    transition: all 0.5s ease 0s;
    position: relative; 
    text-decoration: none;  
}
.navbody li a:hover{
    color: rgb(18, 19, 19);
    background: rgba(255, 255, 255, 0.774);
}
.navhead img{
    height: 60px;
    width: 120px;
    cursor: pointer;
    float: left;
    margin-left: 50px;
}
.navbody ul li a:before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width:100%;
    height:4px;
    background:maroon;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;   
}
.navbody ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.navbody ul li a:after{
    content:"";
    position:absolute;
    bottom: 0;
    right: 0;
    width:100%;
    height:4px;
    background:maroon;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;   
}
.navbody ul li a:hover:after{
    transform: scaleX(1);
    transform-origin: right;
}
.welcome{
    background: linear-gradient(#5c18039c, #2e1c01d2) ,url(../images/bg.jpeg) no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
}
.content{
    width: 800px;
    margin: 6% 25%;
    text-align: center;
}
.content h1{
    color: beige;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 70px;
}
.content p{
    color: beige;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.content a{
    border: none;
    padding: 6px 22px;
    text-decoration: none;
    font-size: 18px; 
    background-color:#141414;
    border-radius: 50px;
    display: inline-block;
}
.content a:hover{
    background-color: #ff9900be;
    color:white;
}
.bottom{
    height: 100vh;
}
.slides{
    height: 60vh;
}
.pizza img{
    width: 600px;
    height: 60vh;
    border-top-right-radius: 25% 70%;
    border-bottom-right-radius: 25% 70%;
}
.side{
    padding: 50px 50px 0px 0px;
}
.side h1,h2{
    font-family: 'Didact Gothic', sans-serif;
}
.side h2{
    font-size: 22px;
}
.side p{
    font-family: 'Didact Gothic', sans-serif;
}
.footer{
    color:white;
    background: linear-gradient(#d33a0c9d, #c77c0cb4);
    height: 40vh;
}	
.fcontent{
    display: flex;    
}
.fsection{
    padding: 5px 20px;
    flex:1;
}
.fsection .contact span{
    display: block;
    font-size: 16px;
}
.fsection h2{
    padding: 5px;
}
.fsection ul li a{
    display: block;
    margin-left: 10px;
    font-size: 16px;
    transition: all 0.5s ease;
    width: 100px;
}
.fsection ul li a:hover{
    color: white;
    margin-left:15px;
    transition: all 0.5s ease;
}
.fsection input, textarea{
    background: rgba(31, 21, 21, 0.555);
    margin-bottom: 2px;
    border: none;
    border-radius: 5px;
    line-height: 25px;
    font-size: 16px;
    width: 100%;
    padding: 5px 8px;
    color: white;
}
.fsection button{
    border: none;
    padding: 6px 22px;
    text-decoration: none;
    font-size: 18px; 
    background-color:#ff9900;
    border-radius: 50px;
    transition: all 0.5s ease;
}
.fsection button:hover{
    background-color:#553607a6;
    transition: all 0.5s ease;
}
.footer-bottom{
    text-align: center;
}	
#addcart{
    margin: 0px 20px 0px 20px;
}


